/* Estilos CSS para el gestor de tareas */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado de center a flex-start */
    min-height: 100vh;
    color: #333;
}

h1 {
    margin: 20px 0; /* Añadir espacio superior e inferior al título */
}

/* Contenedor del formulario */
#form-container {
    margin-top: 120px; /* Añadir margen superior al contenedor del formulario */
}

/* Estilos del formulario */
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="datetime-local"],
form select {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

.mensaje-error {
    color: red;
    margin-top: 10px;
}

/* Estilos de la lista de tareas */
.lista-tareas {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}


button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: 50px;
    cursor: pointer;
}

.completed {
    background-color: rgba(177, 238, 136, 0.767);
    color: black;
}

.vencida {
    background-color: rgba(243, 139, 139, 0.767);
    color: black;
}

header {
    background-color: black; /* Color de fondo del encabezado */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
    width: 100%; /* Ocupar todo el ancho de la página */
    position: fixed; /* Fijar el encabezado */
    top: 0; /* Pegar el encabezado en la parte superior */
    left: 0; /* Alinear el encabezado a la izquierda */
    z-index: 1000; /* Asegurar que el encabezado esté en la capa superior */
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 20px; /* Agrega un margen superior para separarlo del contenido */
}